<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BAAG</title>
  </head>
  <body>
    <main>
      <nav>

      </nav>
      <section id="content">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
