form {
  text-align: center;
}

input{
  margin: 15px;
}

select{

  margin: 15px;
}

/* .select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
} */

label {
  font-size: 160%;
  font-family: 'Poppins', sans-serif;
}

input[type=text] {
  width: 20%;
  height: 20px;
  font-size: 100%;
  text-align: center;
}

select {
  width: 20%;
  height: 70px;
  font-size: 140%;
}

input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 20%;
  height: 100px;
  font-size: 200%;
}

#amount {
  width: 40px;
  font-size: 100%;
  text-align: center;
}
