/* body {
background-size: 100%;
} */


/* h1, h2, h3, h4, h5, h6 {
font-family: 'Poppins', sans-serif;
margin: 0px;
padding: 0px;
}

h1 {
font-size: 1.8em;
color: darkred;
margin-bottom: 20px;
text-align: center;
}

h2 {
  text-align: center;
}

a, a:link, a:visited {
color: #a2937e;
text-decoration: none;
}


nav {
padding: 0px;
margin: 0px;
padding-right: 25px;
background-color: black;
height: 40px;
}

nav ul li {
margin-bottom: 15px;
text-transform: uppercase;
}

ul {
padding: 0px;
margin: 0px;
list-style-type: none;
}

main {
padding: 25px;
}

.flex {
display: flex;
}

.flex--row {
flex-direction: row;
}

#new_transaction {
  font-size: 60px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.grid {
  border: solid 1px mediumaquamarine;
}

.grid-row {
  display: flex;
  flex-direction: column;
}

.cell {
  flex: 1;
  padding: 10px;
  border: solid 1px mediumaquamarine;
}

@media all and (min-width: 480px) {
  .grid-row-sm {
    flex-direction: row;
  }
}

@media all and (min-width: 720px) {
  .grid-rown-md {
    flex-direction: row;
  }
}

@media all and (min-width: 960px) {
  .grid-row-lg {
    flex-direction: row;
  }
}
