table {
  margin: 0px auto;
  border-collapse: collapse;
}

td, th {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px 0px 0px;
}

th {
  font-size: 30px;
}

td {
  font-size: 25px;
  color: white;
}

tr:nth-child(even) {
    background-color: transparent;
}

tr:nth-child(odd) {
    background-color: transparent;
}
