table {
  margin: 0px auto;
  border-collapse: collapse;
}

td, th {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px 0px 0px;
}

tr:nth-child(even) {
    background-color: orange;
}

tr:nth-child(odd) {
    background-color: gray;
}
