<h1>Add new transaction</h1>


<form action="/transactions" method="post">
  <div>

    <div>
      <label id="date" for="date">Date</label>
      <input type="date" name="dt" required>
    </div>


    <div>
      <label id="labels"for="name">name</label><br>

      <input type="text" name="name" id="name_input">

    </div>

    <div>
      <label id="labels"for="tag_select">tag</label><br>
      <select name="tag_id" id="tag_select">
        <% @tags.each do |tag| %>
        <option value=<%= tag.id %>><%= tag.name %></option>
        <%end%>
      </select>
    </div>



    <div>
      <input type="number" step=".01" min="0" max="100000" name="amount" required id="amount_input">
      <label for="amount">$</label>
    </div>

    <input id="create_submit" type="submit" value="create">

  </div>

</form>
